* {
  padding: 0px;
  margin: 0px 0px 0px 5px;
}

textarea {
  margin-top: 10px;
  height: 150px;
  width: 600px;
}

.node circle {
  fill: #fff;
  stroke-width: 2px;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

svg {
  float: left;
}

h1 {
  line-height: 150%;
}

p {
  margin-top: 10px
  color: #555;
}

a {
  color: #555;
  text-decoration: none;
}

a:visited {
  color: #555;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 15px
  color: #555
}

#error {
  color: red;
}
